<div class="container">
    <header>
        <h1>THE ARRIVALS</h1>
    </header>}
    <div class="contend">
        <div class="img">
            <img src="assets/images/portada-libro.jpg" alt="">
        </div>
        <div class="detailsBook">
            <div class="description">
                <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium neque doloremque molestiae
                    impedit est animi vero nesciunt dolore quos mollitia, deleniti sapiente rem et perspiciatis
                    illum
                    provident voluptatum placeat ipsam enim magni magnam porro, exercitationem repellendus? Maxime
                    aspernatur porro ut excepturi dolores mollitia voluptatem quo iusto fugit a incidunt
                    consequuntur
                    voluptatum explicabo quam, nobis deleniti est. Facilis qui nesciunt reprehenderit, ducimus
                    beatae
                    neque nisi. Quasi voluptas, culpa porro quia impedit non. Blanditiis nobis laborum a possimus.
                    Quasi
                    incidunt asperiores commodi et. Nostrum soluta similique, incidunt molestias perspiciatis
                    voluptatem
                    at autem, sunt maiores nam officiis! Qui fuga suscipit tempore a laudantium?</p>
            </div>
            <div class="details">
                <h4><span class="value">valor unitario: $50.000,00</span></h4>
                cantidad
                <input type="number" name="cantidad">
                <hr>
                <div class="info-price">
                    <div class="price">
                        <span class="value">Total $50.000,00<span class="value">
                    </div>
                    <div class="button-add-to-car">
                        <button type="button" class="btn btn-primary">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>